<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <link rel="icon" type="image/png" href="../static/img/Logo-aba.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/responsivo.css">
  <title>Stand</title>
</head>

<body>
  <header class="sem-login">
    <img alt="Logo da Stand" class="logo" src="../static/img/stand.png">
  </header>
  <main>
            {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
        {% for categoria, msg in mensagens %}
        <section class="flash_{{ 'bom' if categoria == 'success' else 'erro' }}">
            <div class="mensagens">
                <p>{{ msg }}</p>
            </div>
        </section>
        {% endfor %}
        {% endif %}
        {% endwith %}

<form class="formulario" method="POST" action="{{ url_for('adminadicionaraula') }}">
  <h1>Adicionar Aula</h1>

   <select id="professor_id" name="professor_id">
    <option value="" data-especialidade="" data-capacidade="">Selecionar professor</option>
    {% for professor in professores %}
        <option value="{{ professor[0] }}"
                data-especialidade="{{ professor[2] }}"
                data-capacidade="{{ professor[3] }}">
            {{ professor[1] }}
        </option>
    {% endfor %}
</select>

   <select name="data_aula" id="Data" required>
    <option value="1">Segunda</option>
    <option value="2">Terça</option>
    <option value="3">Quarta</option>
    <option value="4">Quinta</option>
    <option value="5">Sexta</option>
  </select>

  <input type="text" name="nome" placeholder="Nome da Aula" required>

  <input type="text" maxlength="20" name="descricao" placeholder="Digite a Descrição" required>

  <input type="time" name="horario" placeholder="Horário de inicio" required>

  <input type="time" name="horario_final" placeholder="Horário de termino" required>

  <input type="number" id="capacidade" name="capacidade" placeholder="Vagas" readonly required>

  <input type="text" id="modalidade" name="modalidade" placeholder="Modalidade / Especialidade do professor" readonly required>

  <button type="submit" class="cadastrar">Adicionar</button>
  <a href="{{ url_for('adminaulaslista') }}">Cancelar</a>
</form>

  </main>


  <footer class="alinhaitem">
    <img class="logotop" src="../static/img/stand.png" alt="Logo">

    <div class="linha"></div>

    <p>Siga a Stand</p>

    <div class="imagens">
      <a href="https://web.whatsapp.com/"><img class="um" src="../static/img/whatzapp.png" alt="Logo whatzapp"></a>
      <a href="https://www.facebook.com/"><img class="um" src="../static/img/facebook.png" alt="Logo facebook"></a>
      <a href="https://www.instagram.com/"><img class="um" src="../static/img/instagram.png" alt="Logo instagram"></a>
      <a href="https://www.youtube.com/"><img class="um" src="../static/img/youtube.png" alt="Logo youtube"></a>
      <a href="https://web.telegram.org/"><img class="um" src="../static/img/telegram.png" alt="Logo telegram"></a>
    </div>

    <div class="linha"></div>
  </footer>
  <script src="../static/js/adicionaraula.js"></script>
</body>

</html>