<!doctype html>
<html lang="pt-br">
<head>
  <link rel="icon" type="image/png" href="../static/img/Logo-aba.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Dashbord admin lista adm</title>
</head>
<body>
<header class="sem-login">
<img alt="Logo da Stand" class="logo" src="../static/img/stand.png">
</header>

<main class="excluir">
        {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
        {% for categoria, msg in mensagens %}
        <section class="flash_{{ 'bom' if categoria == 'success' else 'erro' }}">
            <div class="mensagens">
                <p>{{ msg }}</p>
            </div>
        </section>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="container-excluir">
    <h1>Realmente deseja excluir o aluno <strong>{{ nome }}</strong>??</h1>
      <div class="botoes-excluir">
        <form action="{{ url_for('adminexcluiralunos', id=id) }}" method="post">
        <a class="btn-confirm btn-nao" href="{{ url_for('adminalunoslista') }}" >Não</a>
        <button class="btn-confirm btn-sim" type="submit" name="confirmar" value="sim">Sim</button>
        </form>
      </div>
    </div>
  </main>

<footer class="alinhaitem">
  <img class="logotop" src="../static/img/stand.png" alt="Logo">
  
  <div class="linha"></div>
  
  <p>Siga a Stand</p>
  
  <div class="imagens">
    <a href="https://web.whatsapp.com/"><img class="um" src="../static/img/whatzapp.png" alt="Logo whatzapp"></a>
    <a href="https://www.facebook.com/"><img class="um" src="../static/img/facebook.png" alt="Logo facebook"></a>
    <a href="https://www.instagram.com/"><img class="um" src="../static/img/instagram.png" alt="Logo instagram"></a>
    <a href="https://www.youtube.com/"><img class="um" src="../static/img/youtube.png" alt="Logo youtube"></a>
    <a href="https://web.telegram.org/"><img class="um" src="../static/img/telegram.png" alt="Logo telegram"></a>
  </div>
  
  <div class="linha"></div> 
</footer>

</body>
</html>