<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/img/Logo-aba.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Stand</title>
</head>

<body>
    <header class="sem-login">

        <img alt="Logo da Stand" class="logo" src="../static/img/stand.png">

        <nav class="nav-sem-login">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a class="cadastar-se" href="{{ url_for('cadastro') }}">Cadastrar-se</a>
        </nav>

        <button class="menu-hamburguer" id="btnMenu" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <nav class="menu-mobile" id="menuMobile">

            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a class="cadastar-se" href="{{ url_for('cadastro') }}">Cadastar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
        {% for categoria, msg in mensagens %}
        <section class="flash_{{ 'bom' if categoria == 'success' else 'erro' }}">
            <div class="mensagens">
                <p>{{ msg }}</p>
            </div>
        </section>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </section>
        <form class="formulario" action="{{ url_for('login') }}" method="POST">
            <h1>Seja Bem Vindo!</h1>
            <input type="email" id="email" name="email" placeholder="Digite seu Email">
            <input type="password" id="senha" name="senha" placeholder="Digite sua Senha">
            <button type="submit">Login</button>
            <a class="possui" href="{{ url_for('cadastro') }}">Ainda não possui uma conta? Cadastre-se</a>
        </form>
    </main>
    <footer class="alinhaitem">
        <img class="logotop" src="../static/img/stand.png" alt="Logo">

        <div class="linha"></div>

        <p>Siga a Stand</p>

        <div class="imagens">
            <a href="https://web.whatsapp.com/"><img class="um" src="../static/img/whatzapp.png"
                    alt="Logo whatzapp"></a>
            <a href="https://www.facebook.com/"><img class="um" src="../static/img/facebook.png"
                    alt="Logo facebook"></a>
            <a href="https://www.instagram.com/"><img class="um" src="../static/img/instagram.png"
                    alt="Logo instagram"></a>
            <a href="https://www.youtube.com/"><img class="um" src="../static/img/youtube.png" alt="Logo youtube"></a>
            <a href="https://web.telegram.org/"><img class="um" src="../static/img/telegram.png"
                    alt="Logo telegram"></a>
        </div>

        <div class="linha"></div>
    </footer>
    <script src="../static/js/app.js"></script>
</body>

</html>