<!doctype html>
<html lang="pt-br">

<head>
    <link rel="icon" type="image/png" href="../static/img/Logo-aba.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Dashbord admin Alunos</title>
</head>

<body>

    <header class="sem-login page-header">
        <img alt="Logo da Stand" class="logo" src="../static/img/stand.png">


        <button class="menu-hamburguer" id="btnMenu" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <nav class="menu-mobile menu-mobile-dashboard" id="menuMobile">
            <ul>
                <li><a href="{{ url_for('professordashbord') }}">Início</a></li>
                <li><a class="active-mobile" href="{{ url_for('professoraulaslista') }}">Aulas</a></li>
                <li><a href="{{ url_for('professoravisos') }}">Avisos</a></li>
            </ul>
            <div class="perfil">
                 <img src="{{ url_for('static', filename='uploads/' + (session['id_usuario'] | string) + '.jpg') }}" alt="Foto de Perfil"
                 onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/prof e aluno.png) }}';">
                <p>Professor</p>
                <nav>
                    <a href="{{ url_for('professoreditarconta') }}" class="btn">Editar conta</a>
                    <a href="{{ url_for('logout') }}" class="btn">Sair</a>
                </nav>
            </div>
        </nav>
    </header>
    <main class="dashboard">

        <aside class="container-dashboard">
            <div class="dashboar-botoes">
                <ul>
                    <li><a href="{{ url_for('professordashbord') }}">Início</a></li>
                    <li><a class="active" href="{{ url_for('professoraulaslista') }}">Aulas</a></li>
                    <li><a href="{{ url_for('professoravisos') }}">Avisos</a></li>
                </ul>
            </div>

            <div class="perfil">
                 <img src="{{ url_for('static', filename='uploads/' + (session['id_usuario'] | string) + '.jpg') }}" alt="Foto de Perfil"
                 onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/prof e aluno.png) }}';">
                <p>Professor</p>
                <nav>
                    <a href="{{ url_for('professoreditarconta') }}" class="btn">Editar conta</a>
                    <a href="{{ url_for('logout') }}" class="btn">Sair</a>
                </nav>
            </div>
        </aside>

        <div class="lista-container">
                    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
        {% for categoria, msg in mensagens %}
        <section class="flash_{{ 'bom' if categoria == 'success' else 'erro' }}">
            <div class="mensagens">
                <p>{{ msg }}</p>
            </div>
        </section>
        {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="lista-header">
                <h1>Aulas</h1>
            </div>

    <div class="lista-scroll">

    <h2 class="dia-titulo">Segunda-feira</h2>

    {% if aulas_segunda %}
        <ul> {% for aula in aulas_segunda %}
            <li class="lista-item">
                <div class="item-texto">
                    <p class="id">{{ aula[0] }}</p>
                    <p class="item-name">{{ aula[1] }}</p>
                    <p class="item-descricao">{{ aula[2] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-horario">Horário Inicio: {{ aula[4] }}</p>
                    <p class="item-horario">Horário Final: {{ aula[5] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-professor">Professor: {{ aula[7] }}</p>
                    <p class="item-modalidade">Modalidade: {{ aula[8] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-capacidade">Vagas: {{ aula[9] }} / {{ aula[6] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-aulas">Nenhuma aula cadastrada para Segunda-feira.</p>
    {% endif %}
    <hr class="separador-dia"> <h2 class="dia-titulo">Terça-feira</h2>

    {% if aulas_terca %}
        <ul>
            {% for aula in aulas_terca %}
            <li class="lista-item">
                <div class="item-texto">
                    <p class="id">{{ aula[0] }}</p>
                    <p class="item-name">{{ aula[1] }}</p>
                    <p class="item-descricao">{{ aula[2] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-horario">Horário Inicio: {{ aula[4] }}</p>
                    <p class="item-horario">Horário Final: {{ aula[5] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-professor">Professor: {{ aula[7] }}</p>
                    <p class="item-modalidade">Modalidade: {{ aula[8] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-capacidade">Vagas: {{ aula[9] }} / {{ aula[6] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-aulas">Nenhuma aula cadastrada para Terça-feira.</p>
    {% endif %}
    <hr class="separador-dia">


    <h2 class="dia-titulo">Quarta-feira</h2>

    {% if aulas_quarta %}
        <ul>
            {% for aula in aulas_quarta %}
            <li class="lista-item">
                <div class="item-texto">
                    <p class="id">{{ aula[0] }}</p>
                    <p class="item-name">{{ aula[1] }}</p>
                    <p class="item-descricao">{{ aula[2] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-horario">Horário Inicio: {{ aula[4] }}</p>
                    <p class="item-horario">Horário Final: {{ aula[5] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-professor">Professor: {{ aula[7] }}</p>
                    <p class="item-modalidade">Modalidade: {{ aula[8] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-capacidade">Vagas: {{ aula[9] }} / {{ aula[6] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-aulas">Nenhuma aula cadastrada para Quarta-feira.</p>
    {% endif %}
    <hr class="separador-dia">


    <h2 class="dia-titulo">Quinta-feira</h2>

    {% if aulas_quinta %}
        <ul>
            {% for aula in aulas_quinta %}
            <li class="lista-item">
                <div class="item-texto">
                    <p class="id">{{ aula[0] }}</p>
                    <p class="item-name">{{ aula[1] }}</p>
                    <p class="item-descricao">{{ aula[2] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-horario">Horário Inicio: {{ aula[4] }}</p>
                    <p class="item-horario">Horário Final: {{ aula[5] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-professor">Professor: {{ aula[7] }}</p>
                    <p class="item-modalidade">Modalidade: {{ aula[8] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-capacidade">Vagas: {{ aula[9] }} / {{ aula[6] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-aulas">Nenhuma aula cadastrada para Quinta-feira.</p>
    {% endif %}
    <hr class="separador-dia">


    <h2 class="dia-titulo">Sexta-feira</h2>

    {% if aulas_sexta %}
        <ul>
            {% for aula in aulas_sexta %}
            <li class="lista-item">
                <div class="item-texto">
                    <p class="id">{{ aula[0] }}</p>
                    <p class="item-name">{{ aula[1] }}</p>
                    <p class="item-descricao">{{ aula[2] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-horario">Horário Inicio: {{ aula[4] }}</p>
                    <p class="item-horario">Horário Final: {{ aula[5] }}</p>
                </div>
                <div class="item-texto">
                    <p class="item-professor">Professor: {{ aula[7] }}</p>
                    <p class="item-modalidade">Modalidade: {{ aula[8] }}</p>
                </div>
                <div class="item-texto">
                   <p class="item-capacidade">Vagas: {{ aula[9] }} / {{ aula[6] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-aulas">Nenhuma aula cadastrada para Sexta-feira.</p>
    {% endif %}
    <hr class="separador-dia">

</div>
        </div>
    </main>


    <footer class="alinhaitem">
        <img class="logotop" src="../static/img/stand.png" alt="Logo">

        <div class="linha"></div>

        <p>Siga a Stand</p>

        <div class="imagens">
      <a href="https://web.whatsapp.com/"><img class="um" src="../static/img/whatzapp.png" alt="Logo whatzapp"></a>
      <a href="https://www.facebook.com/"><img class="um" src="../static/img/facebook.png" alt="Logo facebook"></a>
      <a href="https://www.instagram.com/"><img class="um" src="../static/img/instagram.png" alt="Logo instagram"></a>
      <a href="https://www.youtube.com/"><img class="um" src="../static/img/youtube.png" alt="Logo youtube"></a>
      <a href="https://web.telegram.org/"><img class="um" src="../static/img/telegram.png" alt="Logo telegram"></a>
    </div>

        <div class="linha"></div>
    </footer>
    <script src="../static/js/app.js"></script>
</body>

</html>